@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

[data-theme="nexcent"] {
    color-scheme: "light";
    --color-base-100: oklch(97.5% 0.005 258.325);
    --color-base-200: oklch(100% 0 0);
    --color-base-300: oklch(95% 0 0);
    --color-base-content: oklch(42% 0 285.885);
    --color-primary: oklch(67.3% 0.163 144.014);
    --color-primary-content: oklch(98% 0.003 247.858);
    --color-secondary: oklch(30.9% 0.019 229.784);
    --color-secondary-content: oklch(98% 0.003 247.858);
    --color-accent: oklch(77% 0.152 181.912);
    --color-accent-content: oklch(38% 0.063 188.416);
    --color-neutral: oklch(12% 0.042 264.695);
    --color-neutral-content: oklch(98% 0.003 247.858);
    --color-info: oklch(74% 0.16 232.661);
    --color-info-content: oklch(29% 0.066 243.157);
    --color-success: oklch(76% 0.177 163.223);
    --color-success-content: oklch(37% 0.077 168.94);
    --color-warning: oklch(82% 0.189 84.429);
    --color-warning-content: oklch(41% 0.112 45.904);
    --color-error: oklch(71% 0.194 13.428);
    --color-error-content: oklch(27% 0.105 12.094);
    --radius-selector: 0.5rem;
    --radius-field: 0.4rem;
    --radius-box: 1rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 1;
    --noise: 0;
}